@use "shared";
@use "mixins" as *;
@use "variables" as *;

.header {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.footer {
  background-color: $light-gray;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid $border-color;
  width: 100%;
  margin-top: auto;

  p {
    color: $text-color;
    font-size: 0.7rem;
  }
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    flex: 1;
    padding: 2rem 0;
    @include respond-to("lg") {
      padding: 2rem 8rem;
    }
    @include respond-to("2xl") {
      padding: 2rem 12rem;
    }
  }
}
